body {
  background-image: url(/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  // ! Scroolbar Style
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--white-1);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--blue-11);
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: inset 0 0 4px var(--black-shadow-light-1);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-11);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: var(--blue-5);
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track-piece {
    background-color: var(--white-1);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb:vertical {
    height: 20px;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb:after {
    content: " ";
    display: block;
    background: linear-gradient(
      45deg,
      transparent 10%,
      var(--blue-11) 10%,
      var(--blue-11) 90%,
      transparent 90%
    );
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }
}
.todo-list-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-family: var(--font-moleth);
    font-size: var(--font-5);
    color: var(--black);
    font-weight: 500;
    margin: 1% 0 1.5% 0;
    letter-spacing: 3px;
  }
  select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 4'%3E%3Cpath fill='%23007bff' d='M4 4L0 0h8z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 3%;
  }

  input[type="text"],
  select {
    font-family: var(--font-tektur);
    font-size: var(--font-11);
    font-weight: 600;
    letter-spacing: 3px;
    width: 100%;
    padding: 15px;
    margin: 0 0 2% 0;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: var(--white);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);

    &:focus {
      border-color: var(--blue-1);
      box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
    }
  }
  button {
    padding: 12px 24px;
    margin: 0 0 2% 0;
    background-color: var(--blue-1);
    border-radius: 8px;
    color: var(--white);
    font-family: var(--font-elianto);
    font-size: var(--font-11);
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: var(--blue-2);
      transform: translateY(-2px);
    }
  }
  .todo-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    padding: 20px;
    margin: 0 0 2% 0;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.9);

    .priority-section {
      h2 {
        font-family: var(--font-elianto);
        font-size: var(--font-9);
        color: var(--black);
        font-weight: 500;
        margin: 0 0 3% 0;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          position: relative;
          padding: 20px;
          margin-bottom: 15px;
          border-radius: 10px;
          cursor: pointer;
          display: flex;
          flex-direction: column;

          background-color: #fff;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          transition: box-shadow 0.3s ease;
          overflow: hidden;

          &:hover {
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
          }

          button {
            padding: 10px 20px;
            background-color: #dc3545;
            color: #fff;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            &:hover {
              background-color: #c82333;
              transform: translateY(-2px);
            }
          }

          &.priority-high {
            border-left: 8px solid #ffc107;
          }

          &.priority-medium {
            border-left: 8px solid #17a2b8;
          }

          &.priority-low {
            border-left: 8px solid #28a745;
          }
        }
      }
    }
  }

  @keyframes ripple {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
}
