.todo-list {
  .priority-section {
    margin-top: 20px;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          text-decoration: line-through;
        }
        button {
          margin-left: 10px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .priority-high {
    color: red;
  }

  .priority-medium {
    color: orange;
  }

  .priority-low {
    color: green;
  }
}
